body {
    background-color:rgb(234, 246, 237);
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5%;
    z-index: 0;

    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 0px, 0px;
    background-color: rgb(41, 69, 27);
    color: white;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    right: 40px;
}

.navbar a {
    color: white;
    font-weight: bold;
    margin: 12px;
    text-decoration: none;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 69, 27);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }